           <section>
           <br>
           <br>
           <br>        
               <br>
               <br>
                    <div>
                               <div id="form" class="form">
                    <div>
                        <div class="card border-light mb-3" style="max-width: 30rem;">
  <div class="card-header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><h1>Calificaciones</h1></font></font></div>
  <div class="card-body">
    <h4 class="card-title"><font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;"><a  href="/usuario/resultadoscuest"></i> Calificaciones de cuestionarios</a></font>
        </font>
        </h4>
        <br>
        <hr>
        <h4 class="card-title"><font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;"><a href="/resultadosexm"> Calificaciones de examen</a></font>
        </font>
        </h4>
        <br>
        <hr>
    <canvas id="myChart" ></canvas>
  </div>
</div>
                     
                    </div>
                </div>
                


{{#each resultadosexm}}


                                <div id="form" class="form">
                    <div>
                        <div class="card border-light mb-3" style="max-width: 30rem;">
  <div class="card-header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><h1>Resultado de examen</h1></font></font></div>
  <div class="card-body">
    
        
        </font>
        </h4>
        <br>
        
                                    <h3><b class="m-1">Total:{{resultado}}</b></h3>
                                    <br>
                                    <b class="m-1">Matematicas: {{matematicas}}</b>
                                    <br>
                                    <b class="m-1">Español: {{espa}}</b>
                                    <br>
                                    <b class="m-1">Biologia: {{biologia}}</b>
                                    <br>
                                    <b class="m-1">Fisica: {{fisica}}</b>
                                    <br>
                                    <b class="m-1">Quimica: {{quimica}}</b>
                                    <br>
                                    <b class="m-1">Historia: {{historia}}</b>
                                    <br>
                                    <b class="m-1">Geografia: {{geografia}}</b>
                                    <br>
                                    <b class="m-1">Formacion: {{formacion}}</b>
                                    <br>
    
  </div>
</div>
                     
                    </div>
                </div>
                
{{/each}}


        
              