
<section>
            <img class="user" title="Usuario" src="/images/unDraw/male.svg" alt="">
            <img class="user2" title="Usuario"  src="/images/unDraw/female.svg" alt="">
            <div class="datos_perfil">
                <div id="form" class="form">
                    <div>
                        <div class="card border-light mb-3" style="max-width: 30rem;">
  <div class="card-header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><h1>Bienvenido {{user.username}}</h1></font></font></div>
  <div class="card-body">
    <h4 class="card-title"><font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;"><a class="boton"  href="/usuario/aula"><i class="fas fa-chalkboard-teacher"></i> Aula</a></font>
        </font>
        </h4>
        <br>
        <hr>
        <h4 class="card-title"><font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;"><a class="boton"  href="/resultadosexm"> Calificaciones</a></font>
        </font>
        </h4>
        <br>
        <hr>
    <canvas id="myChart" ></canvas>
  </div>
</div>
                     
                    </div>
                </div>
                
        
                <div class="container p-4">
                    <div class="row">
                        {{#each resultadosexm}}
                            <div class="col-md-4">
                                <div class="card text-center">
                                    <div class="card-body">
                                    <h2 class="card-title text-upprecase title2">
                                        Resultado de examen
                                    </h2>  
                                    
                                    <b class="m-1">Total:{{resultado}}</b>
                                    <br>
                                    <b class="m-1">Matematicas: {{matematicas}}</b>
                                    <br>
                                    <b class="m-1">Español: {{espa}}</b>
                                    <br>
                                    <b class="m-1">Biologia: {{biologia}}</b>
                                    <br>
                                    <b class="m-1">Fisica: {{fisica}}</b>
                                    <br>
                                    <b class="m-1">Quimica: {{quimica}}</b>
                                    <br>
                                    <b class="m-1">Historia: {{historia}}</b>
                                    <br>
                                    <b class="m-1">Geografia: {{geografia}}</b>
                                    <br>
                                    <b class="m-1">Formacion: {{formacion}}</b>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
               
            </div>
        </section>