
<section>
            <img class="user" title="Usuario" src="/images/unDraw/male.svg" alt="">
            <img class="user2" title="Usuario"  src="/images/unDraw/female.svg" alt="">
            <div class="datos_perfil">
                <div id="form" class="form">
                    <div>
                        <div class="container p-4">
                            <div class="row">
                                <div class="col-md-4 mx-auto">
                                    <div class="card-body">
                                        <p class="title2">Bienvenido {{user.username}}</p>
                                            
                                            <br>
                                            <br>
                                        <a class="boton"  href="/usuario/aula"><i class="fas fa-chalkboard-teacher"></i> Aula</a>
                                        <br>
                                        <br>
                                        <a class="boton"  href="/profile"> Clf cuestionaros</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container p-4">
                    <div class="row">
                        {{#each resultadosexm}}
                            <div class="col-md-4">
                                <div class="card text-center">
                                    <div class="card-body">
                                    <h2 class="card-title text-upprecase title2">
                                        Resultado de examen
                                    </h2>  
                                    
                                    <b class="m-1">Total:{{resultado}}</b>
                                    <br>
                                    <b class="m-1">Matematicas: {{matematicas}}</b>
                                    <br>
                                    <b class="m-1">Español: {{espa}}</b>
                                    <br>
                                    <b class="m-1">Biologia: {{biologia}}</b>
                                    <br>
                                    <b class="m-1">Fisica: {{fisica}}</b>
                                    <br>
                                    <b class="m-1">Quimica: {{quimica}}</b>
                                    <br>
                                    <b class="m-1">Historia: {{historia}}</b>
                                    <br>
                                    <b class="m-1">Geografia: {{geografia}}</b>
                                    <br>
                                    <b class="m-1">Formacion: {{formacion}}</b>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
               
            </div>
        </section>